body{
  background-color:#C639C6;
  }
   h1, p {
     text-align:center;
     color:#ECCAEC;
}

.container{
  display:flex;
  background-color:#E797F2;
  width:1200px;
  margin:20px auto;
  content:center;
}

.container div {
  background-color: #821291;
  margin: 10px;
    padding: 20px;
  font-size: 24px;
  content:center;
}

footer{
  background-color:#5C0570;
  color:white;
  text-align:center;
  margin-top:2rem;
}

.social a{
  color:white;
  margin: 0 1rem;
  font-size:1.2rem;
}